fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
httpx==0.25.2

# Cliente de Storage directo (sin gotrue)
storage3==0.7.7

# Geometría liviana (si los usas)
shapely==2.0.4
trimesh==4.4.9
qrcode[pil]==7.4.2
Pillow==10.4.0
